@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@font-face {
  font-family: 'proxima_novalight_italic';
  src: url("proxima_nova_light_it-webfont.eot");
  src: url("proxima_nova_light_it-webfont.eot?#iefix") format("embedded-opentype"), url("proxima_nova_light_it-webfont.woff") format("woff"), url("proxima_nova_light_it-webfont.ttf") format("truetype"), url("proxima_nova_light_it-webfont.svg#proxima_novalight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url("proxima_nova_light-webfont.eot");
  src: url("proxima_nova_light-webfont.eot?#iefix") format("embedded-opentype"), url("proxima_nova_light-webfont.woff") format("woff"), url("proxima_nova_light-webfont.ttf") format("truetype"), url("proxima_nova_light-webfont.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novaregular_italic';
  src: url("proxima_nova_reg_it-webfont.eot");
  src: url("proxima_nova_reg_it-webfont.eot?#iefix") format("embedded-opentype"), url("proxima_nova_reg_it-webfont.woff") format("woff"), url("proxima_nova_reg_it-webfont.ttf") format("truetype"), url("proxima_nova_reg_it-webfont.svg#proxima_novaregular_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("proxima_nova_reg-webfont.eot");
  src: url("proxima_nova_reg-webfont.eot?#iefix") format("embedded-opentype"), url("proxima_nova_reg-webfont.woff") format("woff"), url("proxima_nova_reg-webfont.ttf") format("truetype"), url("proxima_nova_reg-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold_italic';
  src: url("proxima_nova_sbold_it-webfont.eot");
  src: url("proxima_nova_sbold_it-webfont.eot?#iefix") format("embedded-opentype"), url("proxima_nova_sbold_it-webfont.woff") format("woff"), url("proxima_nova_sbold_it-webfont.ttf") format("truetype"), url("proxima_nova_sbold_it-webfont.svg#proxima_novasemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novasemibold';
  src: url("proxima_nova_sbold-webfont.eot");
  src: url("proxima_nova_sbold-webfont.eot?#iefix") format("embedded-opentype"), url("proxima_nova_sbold-webfont.woff") format("woff"), url("proxima_nova_sbold-webfont.ttf") format("truetype"), url("proxima_nova_sbold-webfont.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
