$dark-blue: #03050d;
$white-gray: #dfdede;
$white: #fff;
$light-gray: #ECECEC;
$light-purple: #aa9c9b;
$gray: #575757;
$almost-white: #f3f3f3;
$pink: #b26363;
$green: #6ca99b;
$yellow: #aba121;


$beige: #f6f6f6;

$light-green: #eff3ee;
$purple: #9c4a95;
$smoke: #837e84;
$blue: #4849a4;