@font-face {
    font-family: 'proxima_novalight_italic';
    src: url('../fonts/proxima_nova_light_it-webfont.eot');
    src: url('../fonts/proxima_nova_light_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_light_it-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_light_it-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_light_it-webfont.svg#proxima_novalight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novalight';
    src: url('../fonts/proxima_nova_light-webfont.eot');
    src: url('../fonts/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_light-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_light-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('../fonts/proxima_nova_reg_it-webfont.eot');
    src: url('../fonts/proxima_nova_reg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_reg_it-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_reg_it-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_reg_it-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proxima_nova_reg-webfont.eot');
    src: url('../fonts/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_reg-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_reg-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novasemibold_italic';
    src: url('../fonts/proxima_nova_sbold_it-webfont.eot');
    src: url('../fonts/proxima_nova_sbold_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_sbold_it-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_sbold_it-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_sbold_it-webfont.svg#proxima_novasemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proxima_nova_sbold-webfont.eot');
    src: url('../fonts/proxima_nova_sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_sbold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_sbold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_sbold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
