//  **** Fonts **** //
@import 'fonts';

//  **** Colors **** //
@import 'colors';


// **** --------------- LARGE DEVICE MEDIA QUERIES ----------------- *****//

@media screen and (max-width: 1120px) {

}

@media screen and (max-width: 970px) {

}

@media screen and (max-width: 920px) {


}

@media screen and (max-width: 880px) {

}

@media screen and (max-width: 880px) {

}

@media screen and (max-width: 820px) {

}

@media screen and (max-width: 806px) {

}

@media screen and (max-width: 769px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 767px) {
#header {
	background: url(../images/header_bg2_placeholder.png) no-repeat 72% center $blue-black;
	height: 700px;
	background-size: 300%;
	nav {
		li {
			margin-top: 2px;
			padding: 5px;
			text-align: right;
		}
	}
	.headerContent {
		text-align: center;
		h1 {
			font-size: 50px;
			margin-top: 60px;
		}
		h5 {
			font-size: 24px;
		}
		.learnMore {
			margin-left: 22px;
		}
		}//.headerContent
		}//#header

		.aboutUs {
			background: url(../images/aboutUs_bg.png) no-repeat 63% center #f2f3f6;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.ourPartners {
			background: url(../images/partners_bg.png) no-repeat 42% center $dark-blue;
			background-size: 110%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		} // media query min-width 767px

		@media screen and (max-width: 758px) {

	}

	@media screen and (max-width: 740px) {

}

@media screen and (max-width: 733px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 666px) {


}

@media screen and (max-width: 620px) {

}

@media screen and (max-width: 599px) {

}

@media screen and (max-width: 530px) {

}

@media screen and (max-width: 460px) {


}

@media screen and (max-width: 390px) {

}

@media screen and (max-width: 320px) {


}

// **** --------------- SMALL DEVICE MEDIA QUERIES ----------------- *****//

@media screen and (max-width: 550px) {

} // media query max-width 550px

